$main-color: #f4f4f4;
$secondary-color: #F7931A;
$dark-color: #333;
$medium-color: #B2B2B2;
$website-width: 1280px;
$btn-color: #1F9F4D;
$bg-color: #174A93;

.fas {
  font-size: 1.2rem;
  cursor: pointer;
  color: $medium-color;
}
